body {
  font-family: 'Montserrat', sans-serif;
}

.clock {
  background-color: orange;
  color: white;
  width: 350px;
  height: 80px;
  padding: 20px;
  font-size: 28px;
  border: 1px solid black;

}

.clock p {
  display: flex;
  justify-content: space-between;
  margin: 12px;
}

.tabs {

  width: 200px;
  height: 200px;
}

.tabs h1 {
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 15px 15px 0 0;
  padding: 10px;
  flex: 1 0 auto;
  font-weight: 400;
}

.tabs .active {
  border-bottom: none;
  font-weight: 700;
}


.tabs ul {
  display: flex;
}

.tab-content {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  height: 200px;
}
