body {
  font-family: 'Montserrat', sans-serif;
}

.clock {
  background-color: orange;
  color: white;
  width: 350px;
  height: 80px;
  padding: 20px;
  font-size: 28px;
  border: 1px solid black;
  margin-left: 10px;
}

.clock p {
  display: flex;
  justify-content: space-between;
  margin: 12px;
}

.tabs {

  width: 200px;
  height: 200px;
  margin: 10px;
}


.tabs h1 {
  border: 1px solid black;
  border-radius: 15px 15px 0 0;
  padding: 10px;
  flex: 1 0 auto;
  background-color: lightBlue;
}
.tabs h1:hover {
  background-color: black;
  color: white;
}

.tabs .active {
  border-bottom: none;
  font-weight: 700;
}


.tabs ul {
  display: flex;
}

.tab-content {
  background-color: lightBlue;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

}
