body {
  font-family: sans-serif;
}

.clock {
  background-color: orange;
  color: white;
  width: 350px;
  height: 80px;
  padding: 20px;
  font-size: 28px;
  border: 1px solid black;
  margin-left: 10px;
  margin-bottom: 10px;
}

.clock p {
  display: flex;
  justify-content: space-between;
  margin: 12px;
}

.tabs {

  width: 200px;
  height: 200px;
  margin: 10px;
  margin-bottom: 50px;
}


.tabs li {
  border: 1px solid black;
  border-radius: 15px 15px 0 0;
  padding: 10px;
  flex: 1 0 auto;
  background-color: lightBlue;

}

.tabs li:hover {
  background-color: black;
  color: white;
}

.tab-ul > .active {
  border-bottom: none;
  font-weight: 700;
}

.tabs ul {
  display: flex;
}

.tab-content {
  background-color: lightBlue;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.weather {
  margin: 20px;
  text-align: center;

  width: 350px;
  height: 80px;
  background-color: lightGreen;
  padding: 10px;
  border: 1px solid black;
}

.weather p {
  margin: 12px;
}

.loading {
  margin-top: 25px;
}

body {
  display: flex;
  justify-content: space-around;
}

.auto {
  border: 1px solid black;
  background-color: pink;
  padding: 0 0 15px 0;
}

.auto input {
  border: 1px solid black;
  background-color: white;
  margin: 15px 130px;
}

.auto li:hover {
  cursor: pointer;
}

.auto li {

  padding: 0 130px;
  text-align: center;
}

/* AutoComplete */

 .auto-enter {
   opacity: 0.01;
   transform: translateY(500%);
 }

 .auto-enter.auto-enter-active {
   opacity: 1;
   transform: translateY(0);
   transition: opacity 500ms, transform 500ms;
 }

 .auto-leave {
   opacity: 1;
   transform: translateY(0);
 }

 .auto-leave.auto-leave-active {
   opacity: 0.01;
   transform: translateY(500%);
   transition: opacity 500ms, transform 500ms;
 }
